.App {
  text-align: center;

}

#app-header {
  font-size: 80px;
  text-transform: uppercase;
}

.listedItem {
  list-style: none;
  padding: 2%;
  margin: 2%;
  border-radius: 15px;
  background-color: darkgoldenrod;
  margin-right:5%;
  margin-left: 5%;

}

img{
   max-width: 100%;
  height: auto;
  width: auto\9; 
}

#navBar {
  font-size: 30px;
  text-transform: lowercase;
}

.commentList {
  border-radius: 10px;
 border: solid black 2px;
 margin: 1%;
 list-style: none;
}

.voteButt{
  background-color: #5b4caf;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s
}

.voteButt:hover {
  background-color: lightsteelblue;
  color: black;
}
